body {
    background: #eee;
}

/*SUBMIT EVENTS*/

.submitEvents form {
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;
}

.submitEvents input {
    display: block;
    margin: 10px auto;
    padding: 4px;
}