.error {
    padding: 10px;
    color: purple;
    border: 1px dotted purple;
}

.sucess {
    padding: 10px;
    color: green;
    border: 1px dotted green;
}

.events li {
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background: #eee;
    border: 1px dotted black;
}

.creating li {
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background: #eee;
    border: 1px dotted black;
}

.bubbling li {
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background: #eee;
    border: 1px dotted black;
}


.moreEvents .box {
    width: 200px;
    height: 200px;
    margin: 10 px 0;
    background: #eee;
    text-align: center;
    padding: 20px;
}